// Dark Mode
.dark-mode {
  // Dar Mode //
  
  background: #000000;
  color: white;

  em, 
  strong {
    color: lightcoral;
  }

  .site-nav {
    .site-nav-item {
      a:hover { color: #f1f1f1; }
    }
  }

  .post-stub {
    border-bottom: 1px dotted #FCF5F5;

    a {
      color: #f1f1f1;

      &:hover {
          background: #303030;
          color: $primary;

          .post-stub-tag { background: $primary; }
      }
    }
  }
  
}